$primary-color: hsl(270, 51%, 36%);
$secondary-color: hsl(299, 54%, 36%);

$background-color: #f2f2f2;
$font-family: 'Gill Sans', sans-serif;
$font-size: 14px;
$font-color: hsl(0, 0%, 5%);
$font-color-light: #ffffff;
$main-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.9);
$header-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);

$header-height: 88px;
$workarea-min-height: calc(100vh - 136px);
