$primary-color: hsl(270, 51%, 36%);
$secondary-color: hsl(299, 54%, 36%);

$background-color: #f2f2f2;
$font-family: 'Gill Sans', sans-serif;
$font-size: 14px;
$font-color: hsl(0, 0%, 5%);
$font-color-light: #ffffff;

$header-height: 88px;
$workarea-background-color: #ffffff;
$workarea-min-height: calc(100vh - 136px);
