@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: $background-color;
    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;
    margin: 0;
  }
  
  main {
    background-color: $workarea-background-color;
    box-shadow: rgba(255, 255, 255, 0.25) 0 0 100px 0;
    min-height: $workarea-min-height;
    border-radius: 8px;
    padding: 1rem 2rem;
    margin:  1.5rem;
  }
  
  section {
    display: block;
    /* Section height = Viewport height - header height */
    height: calc(100vh - 80px);
  
    scroll-margin-top: 80px;
    padding: 50px 80px;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    text-align: center;
  }