@import 'variables';

#filter-section {
	background-color: $background-color;
	padding: 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
}

input,
textarea,
select {
	font-size: 1rem;
	padding: 1rem;
	border: 1px solid $primary-color;
	border-radius: 10px;

	&:focus,
	&:hover,
	&:active {
		border: 1px solid $secondary-color;
	}
}

input[type='text'],
input[type='number'] {
	flex-grow: 1;
	min-width: 200px;
}

input[type='date'] {
	width: 150px;
	display: flex;
	flex-direction: row;
}

button {
	padding: 0.8rem;
	font-size: 1rem;
	border: 1px solid $primary-color;
	border-radius: 10px;
	width: auto;
	cursor: pointer;
}

.btn-color {
	background-color: $primary-color;
	color: $font-color-light;
}

.btn-color:hover {
	background-color: $secondary-color;
}

.btn-light {
	background-color: $background-color;
	color: $primary-color;
}

.btn-light:hover {
	background-color: lightgray;
}

.btn-transparent {
	color: $font-color-light;
	border: 1px solid $background-color;
	background: transparent;
}

.btn-transparent:hover {
	background-color: $background-color;
	color: $primary-color;
}
