@import 'variables';

header {
	z-index: 1;
	position: fixed;
	width: 100%;
	background-color: $primary-color;
	box-shadow: $header-box-shadow;
	color: $font-color-light;
	font-size: 2rem;
	height: $header-height;

	nav {
		height: $header-height;
		display: flex;
		justify-content: center;
		align-items: center;
		ul {
			text-transform: uppercase;
			list-style: none;
			display: flex;
			flex-direction: row;
		}

		li {
			padding: 1rem 2rem;
			transition: color 0.3s ease;

			&:hover {
				background: $secondary-color;
				border-radius: 5px;
			}
		}

		a {
			text-decoration: none;
			color: $font-color-light;
			font-weight: bold;
		}
	}
}

// @media screen and (max-width: 768px) {
// 	header {
// 		text-align: center;
// 		font-size: 1rem;
// 		line-height: 1rem;

// 		nav {
// 			li {
// 				margin-right: 1rem;
// 			}
// 		}
// 	}
// }

// @media screen and (max-width: 450px) {
// 	header {
// 		text-align: center;
// 		font-size: 1rem;
// 		line-height: 1rem;

// 		nav {
// 			ul {
// 				display: flex;
// 				flex-direction: column;
// 			}

// 			li {
// 				margin-right: 0;
// 			}
// 		}
// 	}
// }
