@import './variables';

.table-container {
	max-width: 100%;
	overflow-x: auto;
}

table {
	width: 100%;
	overflow-x: auto;
	border-collapse: collapse;
	white-space: nowrap;
	font-size: 1rem;

	thead tr {
		background-color: $primary-color;
		color: $font-color-light;
		text-align: center;

		th {
			text-align: center;
			border: 1px solid $background-color;
			font-size: 1.125rem;
			padding: 2rem 1.25rem;
			white-space: nowrap;
		}
	}

	tbody tr {
		border-bottom: 1px solid $primary-color;
		border-collapse: collapse;

		&:nth-of-type(even) {
			background-color: $background-color;
		}

		&:last-of-type {
			border-bottom: 3px solid $primary-color;
		}

		td {
			padding: 1rem 1.25rem;
			border: none;
			white-space: wrap;
		}
	}
}
