@import '../assets/scss/variables';

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.cards-item {
	display: flex;
	margin: 1rem;
	border-radius: 10px;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.9);
}

@media (min-width: 768px) {
	.cards-item {
		width: 50%;
	}
}

@media (min-width: 1024px) {
	.cards-item {
		width: 20%;
	}
}

.card {
	background-color: $background-color;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}

.card-image {
	height: 100%;
}

.card-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	vertical-align: middle;
}

.card-btn {
	color: $font-color-light;
	padding: 0.8rem;
	font-size: 1rem;
	border-radius: 10px;
	font-weight: 400;
	display: block;
	width: 100%;
	cursor: pointer;
	border: 1px solid $background-color;
	background: transparent;
}

.card-btn:hover {
	background-color: $background-color;
	color: $font-color;
}

.card-content {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;

	transition: all 0.5s ease-in-out;
	box-sizing: border-box;
	clip-path: circle(0% at 100% 100%);

	padding: 1rem;
	background: linear-gradient(
		to bottom left,
		$primary-color 20%,
		$secondary-color 80%
	);
	color: $font-color-light;
	text-align: center;
}

.card-title {
	color: $font-color-light;
	font-size: 2rem;
	font-weight: 700;
	margin: 0;
}

.card-platform {
	color: $font-color;
	background-color: $background-color;
	font-size: 1rem;
	font-weight: 700;
	margin: 0.25rem 0.25rem;
}

.card-rating {
	font-size: 1.25rem;
	margin: 0.25rem 0.25rem;
}

.star {
	color: gold;
}

.card-price {
	font-size: 1.5rem;
	font-weight: 700;
}

.card:hover .card-content {
	transition: all 0.5s ease-in-out;
	clip-path: circle(75%);
}
