* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f2f2f2;
  font-family: "Gill Sans", sans-serif;
  font-size: 14px;
  color: #0d0d0d;
  margin: 0; }

main {
  background-color: #f2f2f2;
  min-height: calc(100vh - 136px);
  margin: 2rem 2rem; }

section {
  display: block;
  /* Section height = Viewport height - header height */
  height: 100vh;
  padding: 50px 80px; }

h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase; }

hr {
  border: 1px solid #5c2d8b; }

.message {
  text-align: center;
  font-size: 1rem;
  padding: 2rem; }

@media screen and (max-width: 768px) {
  .fx-hide-xs {
    display: none; } }

/* #region FLEX STYLES */
.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-content-space-between {
  justify-content: space-between; }

.flex-content-center {
  justify-content: center; }

.flex-align-items-center {
  align-items: center; }

.text-center {
  text-align: center; }

/* #endregion */
/* #region HOME */
#home {
  background: url("../img/home-banner.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative; }

.home-banner {
  gap: 1rem;
  padding: 1rem;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .home-banner img {
    height: 10rem; }
  .home-banner h1 {
    font-size: 10rem;
    color: #ffffff;
    margin: 0 auto; }
  .home-banner h2 {
    font-size: 4rem;
    color: #ffffff;
    margin: 0 auto; }

/* #endregion */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #5c2d8b;
  box-shadow: 0 8px 8px -4px #bababa;
  color: #ffffff;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25rem;
  max-height: 88px;
  min-height: 88px;
  height: 88px; }
  header nav ul {
    display: block;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0; }
  header nav li {
    display: inline;
    margin-right: 2rem;
    padding: 0.5rem 2rem;
    transition: color 0.3s ease; }
    header nav li:hover {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 5px; }
  header nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold; }

@media screen and (max-width: 768px) {
  header {
    text-align: center;
    font-size: 1rem;
    line-height: 1rem; }
    header nav li {
      margin-right: 1rem; } }

@media screen and (max-width: 450px) {
  header {
    text-align: center;
    font-size: 1rem;
    line-height: 1rem; }
    header nav ul {
      display: flex;
      flex-direction: column; }
    header nav li {
      margin-right: 0; } }

#filter-section {
  background-color: #f2f2f2;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center; }

input,
textarea,
select {
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid #5c2d8b;
  border-radius: 10px; }
  input:focus, input:hover, input:active,
  textarea:focus,
  textarea:hover,
  textarea:active,
  select:focus,
  select:hover,
  select:active {
    border: 1px solid #8c2a8d; }

input[type='text'],
input[type='number'] {
  flex-grow: 1;
  min-width: 200px; }

input[type='date'] {
  width: 150px;
  display: flex;
  flex-direction: row; }

button {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #5c2d8b;
  border-radius: 10px;
  width: auto;
  cursor: pointer; }

.btn-color {
  background-color: #5c2d8b;
  color: #ffffff; }

.btn-color:hover {
  background-color: #8c2a8d; }

.btn-light {
  background-color: #f2f2f2;
  color: #5c2d8b; }

.btn-light:hover {
  background-color: lightgray; }

.btn-transparent {
  color: #ffffff;
  border: 1px solid #f2f2f2;
  background: transparent; }

.btn-transparent:hover {
  background-color: #f2f2f2;
  color: #5c2d8b; }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0; }

.cards-item {
  display: flex;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.9); }

@media (min-width: 768px) {
  .cards-item {
    width: 50%; } }

@media (min-width: 1024px) {
  .cards-item {
    width: 20%; } }

.card {
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative; }

.card-image {
  height: 100%; }
  .card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: middle; }

.card-btn {
  font-weight: 400;
  display: block; }

.card-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
  padding: 1rem;
  gap: 1rem;
  background: linear-gradient(to bottom left, #5c2d8b 30%, #8c2a8d 70%);
  color: #ffffff;
  text-align: center; }

.card-title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  margin: 0; }

.card-platform {
  color: #0d0d0d;
  background-color: #f2f2f2;
  font-size: 1rem;
  font-weight: 700;
  margin: 0.25rem 0.25rem; }

.card-rating {
  font-size: 1.25rem;
  margin: 0.25rem 0.25rem; }

.star {
  color: gold; }

.card-price {
  font-size: 1.5rem;
  font-weight: 700; }

.card:hover .card-content {
  transition: all 0.5s ease-in-out;
  clip-path: circle(75%); }

button#addSale {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0.5rem auto 2rem; }

.modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f2f2f2;
  padding: 20px;
  border: 1px solid #5c2d8b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
